body {
  font-family: Arial;
  text-align: center;
  background-color: #f5f5dc;
}

h1 {
  color: #6b3e26;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #6b3e26;
  color: white;
  border: none;
  cursor: pointer;
}

#menu {
  margin: 20px;
}
